:root {
  --approve-color: #3ce4a1;
  --reject-color: #838383;
  --delete-color: #ff4141;
}

.Round {
  width: 3rem;
  border-radius: 100%;
  font-size: 2rem;
}

.Oval {
  width: 5rem;
  border-radius: 8px;
  font-size: 1.6rem;
  background-color: var(--delete-color);
}


.ButtonsContainer {
  position: absolute;
  bottom: 6vh;
  right: 5vw;
  float: right;
  display: flex;
}

.ButtonsContainer > * {
  padding: 0;
  margin: 0 0 0 20px;
  height: 3rem;
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 3px #999;
}

.CreateRecordsContainer {
  margin: 0;
  padding: 0;
}

.CreateRecordButton, .ApproveButton {
  background-color: var(--approve-color);
}

.CreateRecordButton {
  position: fixed;
  bottom: 10vh;
}

.RejectButton {
  background-color: var(--reject-color);
}

/* Small screens */
@media only screen and (max-width: 1400px) {
  .CreateRecordButton {
    right: 10vw;
  }
}
  
/* Large screens */
@media only screen and (min-width: 1400px) {
  .CreateRecordButton {
    right: 30vw;
  }
}